.TitleBar {
    -fx-background-color: #ABABAB;
    -fx-padding: 5px 5px 5px 5px;
    -fx-spacing: 5px;
    /*
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
    */
    -fx-border-width: 1;
}

.TitleBarPane {
    /*
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    */
}

.TitleBarElementPane {
    -fx-background-color: rgba(0,0,0,0);
    /*
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    */
}

.TitleBarButton {
    -fx-border-width: 0px;
    -fx-background-color: rgba(0,0,0,0);
}